.FormFlex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormClass {
  width: 90vh;
  padding: 3%;
  margin-bottom: 12rem;
  margin-top: 1rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 8px 5px #d4d5d4;
}
.CreatePostStyle {
  font-size: 1.5rem;
  font-weight: 500;
}
